.scroll-pane .scroll-bar:vertical > .increment-button,
.scroll-pane .scroll-bar:vertical > .decrement-button{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: " ";
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-effect: null;
    -fx-opacity: 0;

}
