#startButton{
    -fx-background-color: #25abff;
}

.button{
    -fx-text-fill:  #ffffff;
    -fx-background-radius: 15px;
}

#mainAnchorPane{
    -fx-background-color: black;
}


#pane{
    -fx-background-color: #29292A;
    -fx-background-radius: 20px;
}