.button{
    -fx-background-color: #25abff;
    -fx-background-radius: 15px;
}

#flipHorizontallyButton,#flipVerticallyButton,#acceptButtonWarning{
    -fx-background-color: #00B90C;
}
#deleteButton,#deleteButton1{
    -fx-background-color:#25abff;
    -fx-background-radius: 15px;
}


.combo-box,.text-field{
    -fx-background-radius: 15px;
    -fx-background-color: #29292A;
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell{
    -fx-background-color: #29292A;
    -fx-text-fill: white;
}

.combo-box .list-cell{
    -fx-background-color: #29292A;
    -fx-text-fill: white;
}

#savedChanges{
    -fx-background-color: #29292A;
    -fx-background-radius: 15px;
}

#menuView{
    -fx-background-color: #29292A;
}