#scrollPane{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;

}

.button{
    -fx-background-color: #25abff;
    -fx-background-radius: 15px;
}

#flipHorizontallyButton,#flipVerticallyButton,#acceptButtonWarning{
    -fx-background-color: #00B90C;
}
#deleteButton,#cancelButtonWarning{
    -fx-background-color:#C90000;
}

#warningPane{
    -fx-background-color:  #38383a;
    -fx-background-radius: 20;
    -fx-opacity: 200%;
}



