#scrollPane{
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;

}


.button{
    -fx-background-color: #25abff;
    -fx-text-fill:  #ffffff;
    -fx-background-radius: 15px;
}